@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default, light;
}

#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  top: 0px;
  margin-top: 22px;
  margin-right: 15px;
  max-width: 400px;
}

.required::after {
  content: " *";
  color: red;
}

#sidebar {
  transform: translateX(0);
  transition: transform 0.25s ease;
}
#sidebar.closed {
  transform: translateX(-100%);
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
